* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.scene {
  width: 300px;
  height: 200px;
  perspective: 300px;
}

.box {
  position: relative;
  width: 300px;
  height: 200px;
  transform-style: preserve-3d;
  animation: Rotate 10s steps(360) infinite;
}

@keyframes Rotate {
  to {
    transform: rotateY(360deg);
  }
}

.box__face {
  position: absolute;
  border: 2px solid gainsboro;
  transition: all 1s ease;
  backface-visibility: visible;
  width: 100%;
  height: 100%;
}

.box__face--front,
.box__face--back {

}

.box__face--left,
.box__face--right {

}

.box__face--top,
.box__face--bottom {
 
}

.box__face--front {
  background-color: rgba(240, 248, 255, 0.758);
  transform: translateZ(100px);
}

.box__face--back {
  background-color: rgba(250, 235, 215, 0.681);
  /* transform: rotateY(180deg) translateZ(50px); */
  transform: translateZ(80px);
  
}

.box__face--top {
  background-color: rgba(255, 0, 0, 0.865);
  /* transform: translateY(-50%) rotateX(90deg) translateZ(0px); */
  transform: translateZ(60px);

}

.box__face--bottom {
  background-color: rgba(102, 51, 153, 0.793);
  /* transform: translateY(50%) rotateX(-90deg) translateZ(100px); */
  transform: translateZ(40px);

}

.box__face--right {
  background-color: maroon;
  /* transform: rotateZ(90deg) rotateX(90deg) translateZ(-100px); */
  transform: translateZ(20px);

}

.box__face--left {
  background-color: rgba(65, 105, 225, 0.88);
  /* transform: rotateY(-90deg) translateZ(100px); */
  transform: translateZ(0px);

}
