* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 3rem;
    color: #fff;
}


.meta {
    position: fixed;
    right: 0;
    top: 0;
    background-color: #fff;
    color: #000;
    font-size: 12px;
    padding: .1rem 1rem;
}


.section {
    height: 500px;

    &_1 {
        background-color: purple;
    }

    &_2 {
        background-color: orange;
    }

    &_3 {
        background-color: palegreen;
    }
    
    &_4 {
        background-color: chocolate;
    }

    &_5 {
        background-color: indigo;
    }
}


