* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --width: 200px;
  --height: 200px;
}

@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin adjustBG {
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  
}

.section {
    height: 80vh;
    &_1 {
        background-color: greenyellow;
    }
    &_2 {
        background-color: gold;
    }
    &_3 {
        background-color: aquamarine;
    }
}
