* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --width: 200px;
  --height: 200px;
}

@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin adjustBG {
  background-size: cover;
  background-repeat: no-repeat;
}

body {
    overflow-x: hidden;
}

.section {
    height: 100vh;
  &_1 {
    background-color: greenyellow;
  }
  &_2 {
  height: 105vh;

    background-color: gold;
    @include flex-center();
    .circle {
      width: 400px;
      height: 400px;
      background-color: white;
      transform: translateX();
      opacity: 0;
      transition: all 1s ease-in-out;
      @include flex-center();
      border-radius: 50%;
    }
  }
  &_3 {
    background-color: aquamarine;
  }
}
