* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin center() {
  display: flex;
  // align-items: center;
  justify-content: center;
}

body {
  @include center();
  height: 100vh;
}

main {
  width: 400px;
  height: 400px;
  box-shadow: 0 5px 5px rgba(#000, 0.1);
  overflow-y: auto;
}

.meta {
  position: fixed;
  padding: 1rem;
  box-shadow: 0 0 5px rgba(#000,0.1);
  bottom: 0;
  font-size: 12px;
}

.box {
  width: 100px;
  height: 100px;
  background-color: green;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.section {
    overflow: hidden;
  width: 100%;
  height: 600px;
  &-one {
    background-color: red;
  }
  &-two {
    background-color: gray;

    @include center();
    .circle {
        ----scaleBy: 1;
      width: 250px;
      height: 250px;
      background-color: white;
      border-radius: 50%;
    //   opacity: 0;
      transform: scale(0);
      transition: all 1000ms ease-in-out;
    }
  }
  &-three {
    background-color: pink;
  }
}
